@import url('variables.css');
@import url('layout.css');
@import url('grid.css');
@import url('componentes.css');
@import url('responsive.css');
@import url('animaciones.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--crema);
    color: var(--texto-oscuro);
    line-height: 1.6;
}